<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="styles.css">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>nestjs</title>
</head>

<body class="bg-gray-200">
  <div class="h-100 mt-10 text-center bg-green-500 text-bold text-lg w-1/2 m-0 m-auto text-white w-100 p-6">
    <p class="name">{{message}}</p>
  </div>
</body>

</html>